*{
    margin: 0px;
}

#banner{
    background-color: #56c3b9;
    background-attachment: fixed;
    height: 70px;
}

#leftback{
    background-color: #f06c65;
    width: 25%;
    height:360px;
    margin: 0px;
    float: left;
}

#back{
    background-image: url("back.png");
    background-repeat: no-repeat;
    height: 360px;
    width: 674px;
    float: left;
    left: 25%;
}

#rightback{
    background-color: #f3b35c;
    width: 25%;
    height:360px;
    float: left; 
}

#leftback h1{
    
}