*{
    margin: 0px;
}

/* Naviation Bar */
#banner{
    background-color: #9f82b7;
    background-attachment: fixed;
    height: 70px;
}

#menuright li{
    float: right;
    padding: 20px;
    font-size: 20px;
    list-style-type: none;
    

}

#menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
}

#menu li :hover{
    color:white;
}

#left{
    float: left;
    padding: 20px 0px 0px 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Home Section */

#leftback{
    background-color: #f06c65;
    width: 25%;
    height:360px;
    margin: 0px;
    float: left;
}

#back{
    background-image: url("back.png");
    background-repeat: no-repeat;
    height: 360px;
    width: 50%;
    float: left;
    }

#rightback{
    background-color: #f3b35c;
    width: 25%;
    height:360px;
    float: right; 
}

#leftback p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    padding-top: 80px;
    
}

#leftback ul{
    font-size: 30px;
    padding-top: 30px;
    padding-left: 100px;
}

#rightback img{
    padding: 80px;
}

/* About Me Section */

#banner2{
    background-color: #56c3b9;
    height: 500px;
}

#banner2 h1{
    text-align: center;
    padding: 20px;
    color: black;
}

#banner2 hr{
    width: 100px;
    padding: 1px;
    background-color: black;
    margin: auto;
}

#pic{
    width: 40%;
    float: left;
    margin-left: 100px;
} 

#pic img{
    padding: 70px 0px 70px 100px;
} 

#rightcontent{
    width: 40%;
    float: left;
    margin-left: 60px;
}
#rightcontent h1{
    text-align: left;
    padding-top: 50px;
    padding-left:100px;
}

#rightcontent h3{
    padding-left: 50px;
}

#rightcontent ul{
    padding: 40px;
}

#rightcontent li{
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}
    
/* Portfolio Styling */

.port{
    background-color: #f06c65;
    height: 800px;
}