*{
    margin: 0px;
}

#banner{
    background-color: #9f82b7;
    background-attachment: fixed;
    height: 70px;
}

#leftback{
    background-color: #f06c65;
    width: 25%;
    height:360px;
    margin: 0px;
    float: left;
}

#back{
    background-image: url("back.png");
    background-repeat: no-repeat;
    height: 360px;
    width: 50%;
    float: left;
    }

#rightback{
    background-color: #f3b35c;
    width: 25%;
    height:360px;
    float: right; 
}

#leftback p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    padding-top: 80px;
    
}

#leftback ul{
    font-size: 30px;
    padding-top: 30px;
    padding-left: 100px;
}

#rightback img{
    padding: 80px;
}

#banner2{
    background-color: #56c3b9;
    height: 800px;
}


#menuright li{
    float: right;
    padding: 20px;
    font-size: 20px;
    list-style-type: none;
    

}

#menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
}

#menu li :hover{
    color:white;
}

#left{
    float: left;
    padding: 20px 0px 0px 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}